*.o
*.ncu-rep
01-vector-add/01-vector-add
02-matrix-add/02-matrix-add
03-image-blur/03-image-blur
04-naive-matrix-multiply/04-naive-matrix-multiply
05-tiled-matrix-multiply/05-tiled-matrix-multiply
06-tiled-matrix-multiply-coarsened/06-tiled-matrix-multiply-coarsened
07-naive-convolution/07-naive-convolution
08-tiled-convolution/08-tiled-convolution
09-tiled-convolution-hybrid-cache/09-tiled-convolution-hybrid-cache
10-naive-stencil-sweep/10-naive-stencil-sweep
11-tiled-stencil-sweep/11-tiled-stencil-sweep
12-tiled-stencil-plane-sweep/12-tiled-stencil-plane-sweep
13-naive-parallel-histogram/13-naive-parallel-histogram
14-parallel-histogram-privatized/14-parallel-histogram-privatized
15-parallel-histogram-shared/15-parallel-histogram-shared
16-parallel-histogram-shared-coarsened/16-parallel-histogram-shared-coarsened
17-parallel-histogram-hybrid/17-parallel-histogram-hybrid
18-parallel-reduction/18-parallel-reduction
19-prefix-sum-single-block/19-prefix-sum-single-block