*.o
*.ncu-rep
01-vector-add/01-vector-add
02-matrix-add/02-matrix-add
03-image-blur/03-image-blur
04-matrix-multiply-naive/04-matrix-multiply-naive
05-matrix-multiply-tiled/05-matrix-multiply-tiled
06-matrix-multiply-tiled-coarsened/06-matrix-multiply-tiled-coarsened
07-convolution-naive/07-convolution-naive
08-convolution-tiled/08-convolution-tiled
09-convolution-tiled-hybrid-cache/09-convolution-tiled-hybrid-cache
10-stencil-sweep-naive/10-stencil-sweep-naive
11-stencil-sweep-tiled/11-stencil-sweep-tiled
12-stencil-sweep-tiled-plane-sweep/12-stencil-sweep-tiled-plane-sweep
13-parallel-histogram-naive/13-parallel-histogram-naive
14-parallel-histogram-privatized/14-parallel-histogram-privatized
15-parallel-histogram-shared/15-parallel-histogram-shared
16-parallel-histogram-shared-coarsened/16-parallel-histogram-shared-coarsened
17-parallel-histogram-hybrid/17-parallel-histogram-hybrid
18-parallel-reduction/18-parallel-reduction
19-prefix-sum-single-block/19-prefix-sum-single-block
20-prefix-sum-single-block-coarsened/20-prefix-sum-single-block-coarsened